* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
}

nav {
  background-color: aliceblue;
  grid-row: span 2;
}

button {
  display: block;
}

header {
  background-color: beige;
}

.header-grid {
    height: 100%;
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.5fr 0.8fr 2.5fr 0.5fr 1fr 1fr 1fr;
}

.header-grid :nth-child(2)
{
    grid-column: span 3;
}

.header-grid :nth-child(6)
{
    grid-column: span 2;
}

.header-grid :nth-child(7)
{
    grid-column: span 2;
}

.main-grid{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-grid :nth-child(4), .main-grid :nth-child(5),
.main-grid :nth-child(3), .main-grid :nth-child(6)
{
    grid-row: span 2;
}
